/* The code below is a modern CSS reset 
   by Andy Bell - Front-end developer.
   Link to reasoning and code: https://piccalil.li/blog/a-modern-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #43464e;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* My code */

.space-utility {
    height: 3rem;
}

.container {
    height: 90vh;
    width: 70%;
    margin: 0 auto;
    background: #55585f;
    color: white;
}

header {
    background: #6e7070;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p, button, select, li {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800;
    letter-spacing: 1px;
}

h2 {
    font-weight: 700;
    font-size: 1.6rem;
}

h3 {
    text-align: center;
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: .2s ease-in-out;
    height: 2rem;
    padding: 0 1.3rem;
}

button:hover,
button:active {
    background-color: #414141;
    color: white;
}

.first-half {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.bank, .work, .laptops {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 29%;
    height: 20rem;
    background: #6e7070;
    border-radius: 10px;
}

.center-button {
    opacity: 0;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

#laptop-list {
    cursor: pointer;
}

ul {
    width: 100%;
}

li {
    font-size: .9rem;
}

.features {
    margin-bottom: -1.5rem;
}

.second-half {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.split-1 {
    width: 25rem;
    border: 3px solid #414141;
    border-radius: 2rem;
    overflow: hidden;
}

.split-2 {
    width: 22rem;
    text-align: center;
    margin-left: 2rem;
}

.split-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    margin-left: -2rem;
}

#button-repay {
    display: none;
}

#image {
    height: 20rem;
    width: 100%;
}

#description {
    margin-top: 1.5rem;
}

#message {
    margin-top: 1.5rem;
    color: black;
}

#button-buy {
    margin-top: 1.5rem;
}